/* CSS for Screened Devices
1.Mobile First CSS
2.General Rules that apply to all devices
3.Write larg(er) CSS using media queries 
*/


/* 1.  Includes (fonts and supplementary stylesheets) */


/* 1.1 Normalize Import */

@import url('normalize.css');

/*1.2 Google Font Import*/

@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 1. Mobile First Rules */

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
}

.hide {
    visibility: hidden;
}


/* 2.General Rules that apply to all devices */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0em 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, Eurostyle, sans-serif;
}


/*Header styling*/

#page-header {
    display: flex;
    justify-content: space-evenly;
}

#page-header #site-brand {
    font-size: 5vw;
    margin-top: 8vh;
}


/*nav styling*/

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

nav ul li {
    display: flex;
    justify-content: space-around;
    font-size: 3vw;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
}


/*main styling*/

#locName {
    font-size: 4vw;
}

#locInfo ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

#locInfo ul {
    display: flex;
    flex-flow: row nowrap;
    font-size: 3vw;
}

#curWeather .tile {
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#temp-value {
    text-align: center;
    font-size: 5em;
    margin: 0px;
}

#temps div {
    display: flex;
    justify-content: center;
    margin-left: -2vw;
}

#temps p {
    padding: 0 3vw;
}

#temps #high-temp {
    color: red;
}

#temps #low-temp {
    color: #0e89d5;
}

#wind-value {
    text-align: center;
    font-size: 2em;
}

#wind div {
    text-align: center;
}

#summary {
    text-align: center;
}

#hourly {
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#hourly h2 {
    text-align: center;
}

#hourly ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#hourly ul li {
    padding: 10px;
    list-style: none;
}


/* This is for the sliding arrow in the hourly box*/


/* #hourly h2::before {
    content: ">";
    font-size: 2em;
    position: absolute;
    right: 0;
    top: 0;
} */

footer {
    margin-bottom: 2em;
}


/* #3 - CSSS for larger screen sizes */

@media screen and (min-width: 786px) {
    nav {
        position: relative;
        border: 1px solid #000;
    }
    nav ul li {
        font-size: 2vw;
    }
    #curWeather {
        display: flex;
        margin: .2em auto;
    }
    #curWeather section {
        padding: 0 8.6em;
    }
    #temps div {
        margin-left: -1vw;
    }
    .hide {
        visibility: visible;
    }
    #curWeather h2 {
        text-align: center;
    }
    #curWeather #temps p {
        padding: 0 1vw;
    }
}